In [52]:
#!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\kiran\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\kiran\appdata\roaming\python\python38\site-packages (from mysql-connector-python) (3.15.6)
Requirement already satisfied: six>=1.9 in c:\users\kiran\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [79]:
import mysql.connector
import pandas as pd

In [55]:


connection = mysql.connector.connect(
  host="b8rzawgklevuix0zi5mu-mysql.services.clever-cloud.com", # replace username, hostname, password and database name appropriately
  user="uof0m19h2v9tclea",
  password="1Qm5vnauBiqPLB4KtlZI",
  database="b8rzawgklevuix0zi5mu"
)

mycursor = connection.cursor()

In [56]:
mycursor.execute("CREATE TABLE Test_table (name VARCHAR(255), place VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'Test_table' already exists

In [57]:
mycursor.execute("SHOW TABLES")

In [58]:
for x in mycursor:
    print(x)

('Test_table',)
('subject',)

In [59]:
mycursor.execute("CREATE TABLE subject (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), teacher VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'subject' already exists

In [60]:
mycursor.execute("ALTER TABLE Test_table ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [61]:
mycursor.execute("ALTER TABLE Test_table  AUTO_INCREMENT=0")

#### INSERT TUPLES INTO THE DF

In [62]:
sql="INSERT INTO Test_table (name,place) VALUES (%s ,%s)"  #insert a single tuple
val=('Kiran','Pune')

mycursor.execute(sql,val)

In [63]:
connection.commit()
print(mycursor.rowcount,"tuple inserted")

1 tuple inserted

In [64]:
mycursor.execute()

TypeError: execute() missing 1 required positional argument: 'operation'

In [65]:
#mycursor = connection.cursor()
sql="INSERT INTO Test_table(name,place) VALUES (%s,%s)"

val=[('christina','Cov'),
    ('Sharlene','Cov')]

mycursor.executemany(sql,val)

In [66]:
print(mycursor.rowcount,'tuple were inserted')

2 tuple were inserted

#### SELECT DATA FROM A TABLE

In [73]:
mycursor.execute("SELECT * FROM Test_table")

In [74]:
result_1 =mycursor.fetchone()   #fetch the first tuple
print(result_1)

('Kiran', 'Pune', 1)

In [75]:
result_2=mycursor.fetchall()   #fetch all the tuple

for i in result_2:
    print(i)

('christina', 'Cov', 2)
('Sharlene', 'Cov', 3)
('Kiran', 'Pune', 4)
('christina', 'Cov', 5)
('Sharlene', 'Cov', 6)

In [76]:
mycursor.execute("SELECT name FROM Test_table")

myresult_3 =mycursor.fetchall()

for i in myresult_3:
    print(i)

('Kiran',)
('christina',)
('Sharlene',)
('Kiran',)
('christina',)
('Sharlene',)

In [78]:
mycursor.execute("SELECT place FROM Test_table")

myresult_4 =mycursor.fetchall()

for i in myresult_4:
    print(i)

('Pune',)
('Cov',)
('Cov',)
('Pune',)
('Cov',)
('Cov',)

#### Filter Application

#### CONVERT INTO PANDAS DF FOR ANALYSIS

In [99]:
col=list(zip(*result_2))
df=pd.DataFrame()

In [100]:
df=pd.DataFrame({'name':col[0],'address':col[1]})

In [101]:
df

        name address
0  christina     Cov
1   Sharlene     Cov
2      Kiran    Pune
3  christina     Cov
4   Sharlene     Cov